<section class="container">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="1rem">
    <mat-grid-tile>
      <mat-card class="grid" routerLink="/dashboard/blogs">
        <mat-card-title>Total Blogs</mat-card-title>
        <mat-card-content>
          <span *ngIf="blogs">{{blogs}}</span>
          <span *ngIf="!blogs">0</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="grid" routerLink="/dashboard/comment">
        <mat-card-title>Comments</mat-card-title>
        <mat-card-content>
          <span *ngIf="comments">{{comments}}</span>
          <span *ngIf="!comments">0</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <mat-card class="grid">
        <mat-card-title>Unapprove Comments</mat-card-title>
        <mat-card-content>
          <span routerLink="/dashboard/comment">6</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
  </mat-grid-list>
</section>