<section class="container" *ngIf="blog">
  <mat-card style="padding: 8px 16px;">
    <mat-card-content>
      <button color="warn" mat-mini-fab style="margin-right:1rem" (click)="delete(blog.blog_id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button color="success" mat-mini-fab color="success" routerLink="/dashboard/edit/{{blog.blog_id}}">
        <mat-icon>create</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <h1>{{blog.title}}</h1>
  <img src="assets/uploads/{{blog.image}}" width="100%" />
  <div [innerHTML]="blog.desc"></div>
  <div *ngIf="comments">
    <mat-card>
      {{comments.length}} Comments
    </mat-card>
    <mat-card style="margin-top: 1rem" class="comment-card" *ngFor="let comment of comments">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>account_circle</mat-icon></div>
        <mat-card-title>{{comment.name}}</mat-card-title>
        <mat-card-subtitle>{{comment.date | date:'mediumDate'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{comment.comment}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card *ngIf="!comments">0 Comments</mat-card>
  <br /><br />
</section>